*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanter{
    margin: 0 auto;
    width: 1500px;
}
header{
    width: 100%;
    background-color: antiquewhite;
}
.lienhe{
    background-color: #ffff;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    /* border-top: 1px solid #333; */
    border-bottom: 1px solid #333;
    display: flex;
    padding-left: 30px;
    padding-top: 8px;
}
.lienhe p{
    
    padding-left: 20px;
    color: #333;
    font-size: 1.3vw;
}
.lienhe span{
  
    color: #c9ae63;
    font-size: 1.3vw;
}
.title-1 h3{
    text-align: center;
}
header .nav{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav > .menu > ul>li{
    display: inline;
    padding: 20px 20px;
  
}

.nav > .icons > ul>li{
    display: inline;
    padding: 20px 10px;
}
.line{
    width: 100%;
    background-color: #cfd3cb;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.line > b>span{
    color: #c9ae63;
}
.box{
    background: rgba(207,211,203,.3);
}
.content{
    margin: 100px 10px;
    text-align: center;

}
.content > .email{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333 ;
    margin: 20px 0;
    
}

.content > .submit{
    width: 100%;
    height: 45px;
    background-color: #333;
    color: #fff;
}
.mr{
    padding-top: 50px;
}